<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="logo"><img src="/assets/Logo.svg"></a>
    <div class="right menu">
      <a
        class="ui violet item"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        Dashboard
      </a>
      <a class="ui violet item" routerLink="/users" routerLinkActive="active">
        Users
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
