.user-detail-row {
  padding: 10px;
  align-self: center;
  align-items: center;
  align-content: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-detail-row.odd {
  background-color: #f7f7fe;
  padding: 10px;
  align-self: center;
  align-items: center;
  align-content: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header {
  align-items: center;
}

.ui.right.floated.pink.button:disabled {
  background-color: grey;
}
