:host {
  display: block;
  margin-bottom: 1em;
}

.inputblock {
  display: inline-flex;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

label {
  flex: 25%;
}

.inputarea {
  width: 100%;
}

.inputarea.error {
  width: 100%;
  border: 1px solid red;
}

p {
  color: red;
  flex: 25%;
  font-size: 14px;
}

.errormsg {
  padding-left: 90px;
}
